<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro" >
  
  <!-- Main quadrotor link -->
  <xacro:macro name="quadrotor_chassis_macro"> 
    <link name="chassis_link">
    
     <inertial>
     <origin xyz="0 0 0.2" rpy="0 0 0"/>
     <mass value="1"/>
     <origin xyz="0.2 0 0" />
     <inertia ixx="0.01152" ixy="0.0" ixz="0.0" iyy="0.01152" iyz="0.0" izz="0.0218" />
   </inertial>

   <visual>
     <origin xyz="0 0 0.2" rpy="0 0 0" />
     <geometry>
            <mesh><uri>/home/saykay/drone/gazebo/meshes/Drone_assembly1_v1.dae</uri></mesh>
     </geometry>
   </visual>
   
   <collision>
        <origin xyz="0 0 0.2" rpy="0 0 0" />
        <geometry>
          <mesh><uri>/home/saykay/drone/gazebo/meshes/Drone_assembly1_v1.dae</uri></mesh>
        </geometry>
      </collision>
 </link>
 
 </xacro:macro>
 </robot>
